body{
    background-color: rgb(250, 223, 187);
}

h1{
    font-family:cursive;
    font-style: italic;
    font-size: 4em;
    margin-left:20px;
}

.profile{
    display:flex;
    align-items:flex-start;
    margin:20px;
}

h2{
    font-size: 3em;
    border-top:3em;
}

p{
    font-size: 1.5em;
}

.profile img{
    width: 470px;
    height:400px;
    border-radius:20%;
    margin-right:5px;
}