body{
    background-color: rgb(250, 223, 187);
}

h1{
    font-family:cursive;
    font-style: italic;
    font-size: 4em;
    margin-left:20px;
}

.profile, .profile2{
    display:flex;
    align-items:flex-start;
    margin:20px;
}

h2{
    font-size: 3em;
}

h3{
    font-size: 2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    font-size: 1.5em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.profile img, .profile2 img{
    width: 470px;
    height:400px;
    border-radius:20%;
    margin-right:5px;
}